@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-akkurat), var(--font-inter), system-ui, -apple-system, sans-serif;
}

h1 {
  font-family: var(--font-gt-america), var(--font-akkurat), system-ui, sans-serif;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-akkurat-mono), ui-monospace, monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
